{% extends 'base.html.twig' %}

{% block body %}
    <div id="main"></div>
    <script>
        const url = new URL('http://localhost/hub');
        url.searchParams.append('topic', 'general');
        const eventSource = new EventSource(url);

        eventSource.addEventListener('message', e => console.log(e));
    </script>
{% endblock %}
